@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<div class="medicalcenter_page template_container container_padding" id="medicalcenter_page" data-templatename="medical_center">

    <!-- Main content -->
    <a href="javascript:;" id="maincontent" tabindex="-1" class="skip_content_link"></a>

    <!-- Two col section -->
    <section class="twocol_section page_head">
        <div class="innerpage">
            <div class="row">

                <div class="page_top">
                    <img src="/media/images/logo_dark.png" alt="רפאל" class="logo_print"/>
                    <a href="#" class="go_back ">
                        <span class="icon icon-arrow_right"></span><span class="label">@Model.CallToActionNavigation</span>
                    </a>
                    <h1 class="title_section title-1 sm-splittext">@Model.CallToActionTitle</h1>
                    <ul class="jobs_list clear">
                        @foreach (var bullet in Model.CallToActionBullet)
                        {
                            <li>@bullet</li>
                        }
                    </ul>
                    <div class="article_desc title-5">@Model.CallToActionDescriptions</div>
                </div>

                <div class="left_side">
                    <div class="inner">
                        <div class="image sm-global sm-imagereveal parallax" data-smprop='{"type":"class","threshold":0.15}' data-translatey="0.35" data-ease="0.09">
                            <div class="bg parallax-move">
                                <div class="cover" style="background-image:url(@Model.CallToActionBannerImage.Url());"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content font_l">
                    @Html.GetBlockListHtml(Model.HeaderFaqFeatures)
                    <div class="video_box mix_video">
                        <a href="javascript:;" class="inner play_video" aria-label="נגן סרטון">
                            <div class="bg cover" style="background-image: url(@Model.HeaderFaqCoverImage.Url());"></div>
                            <div class="play_btn"></div>
                            <div class="bottom">
                                <div class="name font_xl">@Model.HeaderFaqButtonName</div>
                                <h4 class="title-2">@Model.HeaderFaqButtonTitle</h4>
                            </div>
                        </a>
                        <div class="iframe_cont" data-youtube-id="@Model.HeaderFaqYouTubeVideoId"></div>
                    </div>


                    @Html.GetBlockListHtml(Model.Faqs)
                </div>

            </div>
        </div>
        <div id="sticky_end"></div>
    </section>

    <!-- Posts section -->
    <section class="posts_section experts_section" id="posts_section">
        <div class="innerpage">
            <div class="row">
                <h2 class="title_section title-2 sm-global sm-splittext" data-smprop='{"type":"split","threshold":0.02}'>אולי יעניין אותך גם</h2>
                <div class="carousel sm-global sm-fadein" data-smprop='{"type":"class","threshold":0.1}'>

                    @Html.GetBlockListHtml(Model.PostFeatures)
                </div>
                <div class="btn_cont sm-global sm-fadein" data-smprop='{"type":"class","threshold":0.1}'>
                    <a href="#" class="btn btn_outline">
                        <span>לבלוג המלא</span>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- Lead section -->
    @await Html.PartialAsync("~/Views/Partials/Home/LeadSection.cshtml")

</div>