@inherits UmbracoViewPage


@{
    var data = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
    
}


<a href="javascript:;" id="mainfooter" tabindex="-1" class="skip_content_link"></a>
  
<section class="footer" id="footer">
                <a href="#page-top" class="go_up btn_arrow white" aria-label="חזור לראש העמוד"><span class="icon icon-arrow_up"></span></a>
                <div class="top">
                    <div class="innerpage">
                        <div class="row">
                            <form class="newsletter_box search-box font_m" id="newsletter_box">
                                <div class="step_one" data-placeholder="הכניסו את כתובת המייל שלכם וקבלו עדכונים חמים מהבלוג">
                                    <input type="text" placeholder="הכניסו את כתובת המייל שלכם וקבלו עדכונים חמים מהבלוג" aria-label="הכניסו את כתובת המייל שלכם וקבלו עדכונים חמים מהבלוג" class="place-black" />
                                    <button type="submit" class="submit btn_arrow" disabled><span class="icon icon-arrow_left"></span></button>
                                </div>
                                <div class="step_two">
                                    תודה שנרשמתם, בקרוב תקבלו עדכונים חמים מהבלוג ישירות למייל שלכם
                                </div>
                            </form>

                            <ul class="breadcrumbs font_s clear">
                                <li><a href="#" aria-label="חזור לדף הבית"><span class="icon icon-home"></span></a></li>
                                <li><a href="#">אודות</a></li>
                                <li>מי אנחנו</li>
                            </ul>
                        </div>
                    </div>
                </div>      
                <div class="innerpage">
                    <div class="row">
                        <div class="middle font_xs clear">
                            <div class="col">
                                <ul class="info_box font_s">
                                    <li>
                                        <span class="icon icon-phone"></span>
                                        <div class="label">טלפון</div>
                                        <div class="desc font_r">@data.FooterTelephone</div>
                                    </li>
                                    <li>
                                        <span class="icon icon-fax"></span>
                                        <div class="label">פקס</div>
                                        <div class="desc font_r">@data.FooterFax</div>
                                    </li>
                                    <li>
                                        <span class="icon icon-email"></span>
                                        <div class="label">כתבו לנו</div>
                                        <div class="desc font_r"><a href="mailto:contactus@meravmc.co.il" aria-label="שלח מייל">@data.FooterEmail</a></div>
                                    </li>
                                    <li>
                                        <span class="icon icon-pin"></span>
                                        <div class="label">בקרו אותנו</div>
                                        <div class="desc font_r">@data.FooterLocation</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col_collapse">
                                <h5 class="col_title font_r">אודות</h5>
                                <div class="sublinks">
                                    <ul class="links">
                                        <li><a href="#">אודות המרכז הרפואי</a></li>
                                        <li><a href="#">דבר המנכ"ל</a></li>
                                        <li><a href="#">הוועד המנהל</a></li>
                                        <li><a href="#" class="highlight"><span>קריירה</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col_collapse">
                                <h5 class="col_title font_r">רופאים מומחים</h5>
                                <div class="sublinks">
                                    <ul class="links">
                                        <li><a href="#">אודות המרכז הרפואי</a></li>
                                        <li><a href="#">דבר המנכ"ל</a></li>
                                        <li><a href="#">הוועד המנהל</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col_collapse">
                                <h5 class="col_title font_r">שירותים רפואיים</h5>
                                <div class="sublinks">
                                    <ul class="links">
                                        <li><a href="#">אודות המרכז הרפואי</a></li>
                                        <li><a href="#">דבר המנכ"ל</a></li>
                                        <li><a href="#">הוועד המנהל</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col_collapse">
                                <h5 class="col_title font_r">מרכזים ומכונים</h5>
                                <div class="sublinks">
                                    <ul class="links">
                                        <li><a href="#">אודות המרכז הרפואי</a></li>
                                        <li><a href="#">דבר המנכ"ל</a></li>
                                        <li><a href="#">הוועד המנהל</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col_collapse">
                                <h5 class="col_title font_r">מידע למטופל</h5>
                                <div class="sublinks">
                                    <ul class="links">
                                        <li><a href="#">שאלות נפוצות</a></li>
                                        <li><a href="#">מאמרים / בלוגים</a></li>
                                        <li><a href="#">טפסים</a></li>
                                        <li><a href="#">גלרית וידאו</a></li>
                                        <li><a href="#">סיפורי מטופלים</a></li>
                                        <li><a href="#">תזונה</a></li>
                                        <li><a href="#">ביטוחי בריאות</a></li>
                                        <li><a href="#">ביטוחי קופות חולים</a></li>
                                        <li><a href="#">דרכי הגעה</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bottom font_xs clear">
                            <a href="#" title="רפאל - בתי חולים" class="logo"></a>
        
                            <div class="copyright clear">
                                <div>  הזכויות שמורות לרפאל © @DateTime.UtcNow.Year  </div>
                                <div class="d-ltr">Website by: <a href="https://www.tvuna.co.il" aria-label="Tvuna" class="logo_tvuna"></a></div>
                            </div>
        
                            <ul class="share_bar clear">
                                <li><a href="#" aria-label="Facebook"><span class="icon icon-facebook"></span></a></li>
                                <li><a href="#" aria-label="Linkedin"><span class="icon icon-linkedin"></span></a></li>
                                <li><a href="#" aria-label="YouTube"><span class="icon icon-youtube"></span></a></li>
                                <li class="link_text font_s"><a href="#">פרטיות</a></li>
                                <li class="link_text font_s"><a href="#">תנאי האתר</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>