@inherits UmbracoViewPage

@{
    var navigationItems = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>()?.MainNavigation;
    
}

<!-- Header -->
    <header class="header header-light" id="header">
        <div class="mask"></div>
        <div class="in">
            <div class="innerpage">
                <div class="row">

                    <!-- Logo -->
                    <a href="/" title="רפאל - בתי חולים" class="logo"></a>

                    <!-- Nav -->
                    <nav class="nav">
                        <ul class="menu clear">
                            
                            @if (navigationItems != null && navigationItems.Any())
                            {
                                foreach (var navigationItem in navigationItems)
                                {
                                    var hasSubNav = navigationItem.ChildLinks!=null && navigationItem.ChildLinks.Any();
                                    var className = (hasSubNav ? "has-subnav " : "")+"li-parent";
                                    var link = hasSubNav ? "javascript:;" : navigationItem.Link?.Url??"javascript:;";
                                    
                                    
                                    
                                    <li class="@className">
                                        <a href="@link">@navigationItem.Title<span class="border"></span></a>
                                        @if(hasSubNav)
                                        {
                                            
                                            <div class="subnav">
                                                <div class="subnav_in">
                                                    <div class="subnav_er">
                                                        <ul>
                                                            @foreach (var childLink in navigationItem.ChildLinks)
                                                            {
                                                                <li><a href="@childLink.Url" target="@childLink.Target">@childLink.Name</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </li>
                                }

                            }
                          
                            <li class="small-padding small-margin li-parent"><a href="/" class="btn"><span>יצירת קשר</span></a></li>
                            <li class="small-padding li-search li-parent">
                                <a href="javascript:;" aria-label="חיפוש" class="toggle-search"><span class="relative"><span class="icon icon-search"></span><span class="border"></span></span></a>
                                <div class="subnav subnav_search">
                                    <div class="subnav_in">
                                        <div class="subnav_er">
                                            <form class="search-box font_m">
                                                <span class="icon icon-search"></span>
                                                <input type="text" placeholder="חיפוש כללי" aria-label="הקלד מילת חיפוש"/>
                                                <button type="submit" class="submit btn_arrow" disabled><span class="icon icon-arrow_left"></span></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-subnav small-padding li-parent">
                                <a href="javascript:;" aria-label="בחירת שפה"><span class="icon icon-lang"></span><span class="mobile_label">שפה / Language</span><span class="border"></span></a>
                                <div class="subnav">
                                    <div class="subnav_in">
                                        <div class="subnav_er">
                                            <ul>
                                                <li><a href="#">עברית</a></li>
                                                <li><a href="#">English</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>

                    <!-- Mobile -->
                    <a href="javascript:;" class="toggleMenu" id="toggleMenu" aria-label="פתח תפריט"><span class="stroke"><span class="middle"></span></span></a>

                </div>
            </div>
        </div>
    </header>

    <!-- Mobile nav -->
    <nav id="nav_mobile" class="nav_mobile">
        <a href="javacsript:;" class="btn_close"><span class="icon icon-close"></span></a>
        <div class="inner">
            <div class="btn_cont"><a href="#" class="btn btn_contact"><span>יצירת קשר</span></a></div>
            <div class="search_cont"></div>
        </div>
    </nav>
